# Ignore backups
*.bak

# Ignore unrelated configuration directories
.config/KDE/
.config/kdedefaults/
.config/mozilla/
.config/networkmanager/
.config/copyq/
.config/dconf/
.config/fcitx/
.config/fcitx5/
.config/fontconfig/
.config/go/
.config/gtk-4.0/
.config/htop/
.config/ibus/
.config/libaccounts-glib/
.config/pulse/
.config/session/
.config/systemd/
.config/yay/

# Ignore unrelated configuration files
.config/baloofilerc
.config/gtkrc
.config/gtkrc-2.0
.config/kactivitymanagerdrc
.config/kactivitymanagerd-statsrc
.config/kconf_updaterc
.config/kded5rc
.config/kdeglobals
.config/kglobalshortcutsrc
.config/kmenueditrc
.config/konsolerc
.config/konsolesshconfig
.config/kscreenlockerrc
.config/ksmserverrc
.config/ktimezonedrc
.config/kwinoutputconfig.json
.config/kwinrc
.config/kwinrulesrc
.config/kxkbrc
.config/plasma-localerc
.config/plasma-org.kde.plasma.desktop-appletsrc
.config/plasmashellrc
.config/powerdevilrc
.config/powermanagementprofilesrc
.config/Trolltech.conf
.config/user-dirs.dirs
.config/user-dirs.locale







